<link rel="stylesheet" href="gioithieu.css">

<body>
    <header>

    </header>
    <main class="content">
        <img class="banner" src="https://admin.canifa.com/media/wysiwyg/CNF00135-_1_.jpg" alt="">
        <article class="info">
            <h1> Khoác lên niềm vui gia đình Việt</h1>
            <section>
                <aside>
                    <img src="https://admin.canifa.com/media/wysiwyg/ve-canifa.png" alt="">
                </aside>
                <ul class="text">
                    <li>
                        Canifa 20 năm - Khoác lên niềm vui gia đình Việt
                    </li>
                    <li>
                        Năm 1997, Công ty Cổ phần Thương mại và Dịch vụ Hoàng Dương được thành lập với mục đích chính
                        ban
                        đầu là hoạt động trong lĩnh vực sản xuất hàng thời trang xuất khẩu với các sản phẩm chủ yếu làm
                        từ
                        len và sợi.
                    </li>
                    <li>
                        Năm 2001 thương hiệu thời trang CANIFA ra đời, tự hào trở thành một cột mốc đáng nhớ của doanh
                        nghiệp Việt trong ngành thời trang.
                    </li>
                </ul>
            </section>
            <section>
                <ul class="text">
                    <li>
                        <h2>
                            Tầm nhìn và sứ mệnh
                        </h2>
                    </li>
                    <li>
                        Mang đến niềm vui cho hàng triệu gia đình Việt
                    </li>
                    <li>
                        Canifa hướng đến mục tiêu mang lại niềm vui mặc mới mỗi ngày cho hàng triệu người tiêu dùng
                        Việt.
                        Chúng tôi tin rằng người dân Việt Nam cũng đang hướng đến một cuộc sống năng động, tích cực hơn.
                    </li>
                </ul>
                <aside>
                    <img src="https://admin.canifa.com/media/wysiwyg/Canifa-Casual-20208014-_1_.jpg" alt="">
                </aside>
            </section>
            <section class="other-info">
                <h2>
                    Giá trị cốt lõi của Canifa
                </h2>
                <p>
                    20 năm phát triển - Chúng tôi luôn tuân thủ những giá trị cốt lõi của mình.
                </p>
                <h2>
                    Kinh doanh dựa trên giá trị thật:
                </h2>
                <p>
                    CANIFA thiết lập hệ thống tiêu chuẩn chất lượng quốc tế áp dụng trên tất cả quy trình quản lý và kiểm
                    soát chất lượng từ khâu chọn lọc nguyên phụ liệu cho đến khâu thiết kế và sản xuất (Oeko-tex, Cotton
                    USA, Woolmark,...).
                </p>
            </section>
            <section class="about-logo">
                <img src="https://admin.canifa.com/media/wysiwyg/Anh_gioi_thieu-04.jpg" alt="">
            </section>
        </article>
    </main>
    <footer>
        
    </footer>
</body>