* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --label-text: #4d4d4d;
    --input-focus: #342EFF;
    --button-bg: #0074e4;
    --button-bg-hover: #3b90e0;
    --form-bg: #cecece;
}

body {
    background-color: #000;
    font-family: Lato, sans-serif;
    color: #000;
}


tbody {
    border: none;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

input:focus {
    outline: none;
}

button {
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #fff;
    cursor: pointer;
}


.ngl-hide {
    display: none;
}



header {
    position: fixed;
    left: 35%;
    background-color: var(--header-bg);
    height: 30px;
    margin: 48px 72px 0;
    z-index: 1;
}

.background-img {
    position: relative;
    width: 00%;
    /* height: 100%; */
}

.background-img img {
    /* width: 100%; */
    height: 100%;
    opacity: 0.7;

}

.sign-in-img{
    position: absolute;
    left: -200;
    z-index: -1;
}


/*  Style logo  */
.logo {
    position: absolute;
    top: 25;
    left: 25;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
    z-index: 10;
}

.logo-icon {
    width: 100px;
}



.signup {
    margin-right: 3%;
    color: var(--signup-text);
    background-color: beige;
}


.main-layout {
    /* align-items: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px; */
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    overflow: hidden;
    
}

form {
 margin: auto 0;
    /* grid-column: 5 / span 4; */
    width: 40%;
    height: 100%;
    padding: 0 48px 0;
    background-color: var(--form-bg);
}

.sign-in-title {
    padding-top: 20px;
    text-align: center;
}

.sign-in-list {
    padding-top: 24px;
    color: #000;
}



.input-text {
    position: relative;
    margin-bottom: 12px;
}

.input-text input {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    transition: all 0.4s;
}

.input-text label {
    cursor: text;
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 9px;
    transition: top .2s ease, left .2s ease, font-size .2s ease;
    opacity: 0;
}


.input-text input:focus {
    border-color: var(--input-focus);
}

.input-text input:focus+label {
    top: -10px;
    left: 10px;
    opacity: 1;
    background: var(--form-bg);
    padding: 0 5px;
    font-size: 13px;
    color: var(--label-text);
}

.input-text input::placeholder {
    color: var(--label-text);
    font-size: 13px;
    transition: all 0.3s;
}

.input-text input:focus::placeholder {
    opacity: 0;
}




.rememberme {
    display: flex;
    align-items: center;
    color: var(--label-text);
}

.rememberme-label {
    margin-left: 8px;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-btn {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: var(--button-bg);
    color: #fff;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: var(--button-bg-hover);
}


.separator {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.separator-tex {
    cursor: default;
}

.separator-text::before,
.separator-text::after {
    content: "";
    position: absolute;
    top: 52%;
    width: 32.5%;
    border-top: 1px solid black;
}

.separator-text::before {
    left: 0;
}

.separator-text::after {
    width: 33%;
    right: 0;
}


.other-sign-in {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.social-item {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: .3s linear;
    border-radius: 2px;
}

.social-button {
    padding: 5px 20px;
    width: 80px;
    height: 64px;
}

.playstation {
    background-color: #003791;
    transition: background-color 0.4s;
}

.nintendo {
    background-color: #eb1919;
    transition: background-color 0.4s;
}

.xbox {
    background-color: #1b8a19;
    transition: background-color 0.4s;
}

.google {
    background-color: #fff;
    transition: background-color 0.4s;
}

.playstation:hover {
    background-color: #1f5ec2;
}

.nintendo:hover {
    background-color: #ff4c4c;
}

.xbox:hover {
    background-color: #03af00;
}

.google:hover {
    background-color: #e7e7e7;
}


.sign-up-link {
    margin-top: 20px;
}

.sign-up-link a {
    color: #0074e4;
}