/*=========================================================
Author       : LeThienHuy.
==============================================================*/

/*=============================================================
    CSS INDEX
  =============================
  01.GENERAL STYLE
  02.START HEADER STYLE
	03.START MENU MAIN
	04.START SUBMENU
	05.START SUBMENU INSIDE
	06.START SIGN IN
	07.START MENU TRAY
	08.START new
	09.START SECTION 1
	24.START ELEMENT DESIGN
		
*=============================================================*/





/*===================================*
  01.GENERAL STYLE
*===================================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --brown: #8d6e63;
    --white-cream: #f5f5dc;
    --white: #fff;
    --gray: #e0e0e0;
    --yellow: #020202;

    /* --header-bg: #266A29; */
    --body-bg: #d9d9d9;
    --body-bg: #1b2838;
    --header-bg: #393939;
    --header-text: #e0e0e0;
    --header-text-hover: #ffcc00;
    --submenu-bg: #fff;
    --submenu-bg-hover: #f1f1f1;
    --submenu-text: #4b4b4b;
    --submenu-text-hover: #000;
    --menu-submenu-separator: #e6e6e6;
    --bg-discount: #788795;
    --menu-link-anonymous-text: #de8ae5;
    --menu-link-anonymous-text-hover: #f9b2ff;
    --menu-inside-info-bg: #e1e1e1;
    --menu-inside-title: #333333;
    --menu-inside-price-text: #686868;
    --menu-inside-collection-text: #5b5b5b;
    --menu-inside-collection-bg: #e1e1e1;
    --menu-inside-button-playstation: linear-gradient(180deg, #dbdbdb 0%, #ededed 100%);
    --menu-inside-button-playstation-hover: brightness(1.05);
    --menu-inside-button: linear-gradient(to bottom, rgba(204, 204, 204, 0.2) 0%,
            rgba(204, 204, 204, 0.2) 4%,
            rgba(217, 217, 217, 0.2) 100%);
    --menu-inside-button-hover: linear-gradient(to top, rgba(204, 204, 204, 0.55) 0%,
            rgba(204, 204, 204, 0.55) 4%,
            rgba(217, 217, 217, 0.55) 100%);
    --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    --signin-button-bg: #f2f2f2;
    --signin-button-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    --signup-text: #4c4c4c;
    --signup-bg: #e6e6e6;
    --signup-bg-hover: #f3f3f3;
    --signin-bg: linear-gradient(to bottom, #985fb2 0%, #713b8d 100%);
    --signin-bg-hover: #713b8d;
    --signin-text: #fff;
    --signin-about-text: #4c4c4c;
    --signin-features-text: #4c4c4c;
    --menu-signin-features-title-dash: #e5e5e5;
    --button-lang: #19c430;
    --footer-title-text: #9F9F9F;
    --footer-link-hover: #9f9f9f;
    --footer-legal-link-hover: #9f9f9f;
    --new-button-bg: #19c430;
    --product-button-bg: #19c430;
    --section-header-text: #000;
    --section-header-link: #c7d5e0;
    --section-text: #c7d5e0;
    --product-boxshadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    --product-info-bg: linear-gradient(-45deg, rgba(64, 121, 153, 1) 5%, rgba(42, 62, 89, 1) 95%);
    --product-info-bg-hover: linear-gradient(to right, rgba(56, 107, 135, 1) 5%, rgba(68, 130, 163, 1) 95%);
    --product-name-hover: #19c430;
    --product-header-link: #ffffff66;
}

body {
    background-color: var(--body-bg);
    font-family: Lato, sans-serif;
    color: #000;
}

tbody {
    border: none;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

button {
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1280px
    }
}

.ngl-hide {
    display: none;
}

/*===================================*
    01.END GENERAL STYLE
  *===================================*/


:root {
    --scrollbar-width: 17px;
    --mesh-column: 4;
    --mesh-gutter: var(--space-5);
    --mesh-margin: var(--space-6);
    --mesh-container-width: calc((100vw - var(--scrollbar-width, 0)) - var(--mesh-margin) - var(--mesh-margin) + var(--mesh-gutter));
    --mesh-column-width: calc(var(--mesh-container-width) / var(--mesh-column))
}

:root {
    --space-1: 2px;
    --space-2: 4px;
    --space-3: 7px;
    --space-4: 10px;
    --space-5: 14px;
    --space-6: 21px;
    --space-7: 28px;
    --space-8: 35px;
    --space-9: 42px;
    --space-10: 56px;
    --space-11: 70px;
    --space-12: 112px;
    --space-13: 224px;
}

@media (min-width: 360px) {
    :root {
        --mesh-margin: var(--space-7);
    }
}

@media (min-width: 768px) {
    :root {
        --mesh-column: 12;
        --mesh-margin: var(--space-9);
    }
}

@media (min-width: 1367px) {
    :root {
        --mesh-margin: var(--space-11);
    }
}

@media (min-width: 1920px) {
    :root {
        --mesh-column: 24;
    }
}

/*===================================*
  10.START SECTION NEW GAME
*===================================*/
.new-releases {
    height: 715px;
    /* background-color: #fff; */
}

.new-releases-title {
    margin-bottom: 70px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: .1px;
}

.new-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-row-gap: var(--space-2); */
}

.new-item {
    --column: 2;
    width: calc(var(--mesh-column-width) * var(--column) - var(--mesh-gutter));
    flex-shrink: 0;
    margin-left: 14px;
}

.new-link {
    display: inline-block;
    width: 100%;
}

.new-img {
    width: 100%;
}

.new-releases-title {
    color: #fff;
    text-align: center;
}

.new-name {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.new-releases {
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    margin: 0 auto 50px;
    position: relative;
    top: 56px;
    overflow: hidden;
    text-align: center;
    padding: 0;
}

.new-releases label {
    position: absolute;
    top: 50;
    left: 0;
    z-index: 5;
    margin: 0 auto;

    cursor: pointer;
    display: inline-block;
    /* width: 5%; */
    /* height: 5%; */
    padding: 10px 14px;
    background: #1f2e41;
    color: #fff;
    border-radius: 16px;
    transition: all .3s ease;
    transition: opacity 0.9s;
    transition: color 0.5s;
}

.new-list {
    width: 100%;
    height: 80%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-size: cover;
    margin: 0px;
    transition: left 0s .75s;
    /* z-index: 10; */
}

[id^="new"]:checked+.new-list {
    z-index: 4;
    opacity: 1;
    visibility: visible;
    transition: opacity 1.2s ease-in;
    /* animation: 5s transformEffect; */
}

.new-releases .new-button1 {
    left: 40.5%;
}

.new-releases .new-button2 {
    left: 50%;
}


.new-releases label:hover {
    color: rgb(0, 195, 255);
}

.new-releases label:has(+input[type="radio"]:checked) {
    background-color: #fff;
    color: #000;
    z-index: 50;
}

/*===================================*
  10.END SECTION NEW GAME
*===================================*/