:root {
    --brown: #8d6e63;
    --white-cream: #f5f5dc;
    --white: #fff;
    --gray: #e0e0e0;
    --yellow: #020202;
  
    /* --header-bg: #266A29; */
    --header-bg: #393939;
    --header-text: #e0e0e0;
    --header-text-hover: #ffcc00;
    --submenu-bg: #fff;
    --submenu-bg-hover: #f1f1f1;
    --submenu-text: #4b4b4b;
    --submenu-text-hover: #000;
    --menu-submenu-separator: #e6e6e6;
    --bg-discount: #788795;
    --menu-link-anonymous-text: #de8ae5;
    --menu-link-anonymous-text-hover: #f9b2ff;
    --menu-inside-info-bg: #e1e1e1;
    --menu-inside-title: #333333;
    --menu-inside-price-text: #686868;
    --menu-inside-collection-text: #5b5b5b;
    --menu-inside-collection-bg: #e1e1e1;
    --menu-inside-button-playstation: linear-gradient(180deg, #dbdbdb 0%, #ededed 100%);
    --menu-inside-button-playstation-hover: brightness(1.05);
    --menu-inside-button: linear-gradient(to bottom, rgba(204, 204, 204, 0.2) 0%,
        rgba(204, 204, 204, 0.2) 4%,
        rgba(217, 217, 217, 0.2) 100%);
    --menu-inside-button-hover: linear-gradient(to top, rgba(204, 204, 204, 0.55) 0%,
        rgba(204, 204, 204, 0.55) 4%,
        rgba(217, 217, 217, 0.55) 100%);
    --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    --signin-button-bg: #f2f2f2;
    --signin-button-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    --signup-text: #4c4c4c;
    --signup-bg: #e6e6e6;
    --signup-bg-hover: #f3f3f3;
    --signin-bg: linear-gradient(to bottom, #985fb2 0%, #713b8d 100%);
    --signin-bg-hover: #713b8d;
    --signin-text: #fff;
    --signin-about-text: #4c4c4c;
    --signin-features-text: #4c4c4c;
    --menu-signin-features-title-dash: #e5e5e5;
    --button-lang: #19c430;
    --footer-title-text: #9F9F9F;
    --footer-link-hover: #9f9f9f;
    --footer-legal-link-hover: #9f9f9f;
    --banner-button-bg: #19c430;
  }

  a,
  ul,
  li {
    text-decoration: none;
    list-style: none;
    color: #fff;
  }

.banner-aside {
    margin-bottom: 50px;
    width: 100%;
    height: 85%;
    margin: 0 auto;
    position: relative;
    top: 56px;
    overflow: hidden;
    text-align: center;
    padding: 0;
  }
  
  .banner-choose {}
  
  .banner-aside label {
    position: absolute;
    left: 0;
    z-index: 9;
    width: 100%;
    bottom: 0;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 10px;
    background: #fff;
    border-radius: 50px;
    margin: 10px;
    transition: all .3s ease;
  }
  
  .banner-aside label:hover {
    background: var(--banner-button-bg)
  }
  
  .banner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    background-size: cover;
    margin: 0px;
    transition: left 0s .75s;
    /* z-index: 10; */
  }
  
  .banner:checked ~ .banner:first-of-type{
    left: 100%;
  }

  .banner:has(.banner:checked){
    left: -100%;
  }

  [id^="banner"]:checked+.banner {
    left: 0;
    z-index: 8;
    transition: left .65s ease-out;
  animation: 3s ChangeBanner linear infinite 1s;
  }
  
  .banner {
  }
  
  .banner-aside .banner-button1 {
    left: 0;
  }
  
  .banner-aside .banner-button2 {
    left: 100;
  }
  
  .banner-aside .banner-button3 {
    left: 200;
  }
  
  .banner-aside .banner-button4 {
    left: 300;
  }
  
  .banner-aside .banner-button5 {
    left: 400;
  }
  
  .banner-aside label:has(+input[type="radio"]:checked) {
    background-color: var(--banner-button-bg);
    animation: TimerBanner 15s linear infinite forwards;
  
  }
  
  .banner-img {
    width: 100%;
  }
  
  