* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

:root {
    --brown: #8d6e63;
    --white-cream: #f5f5dc;
    --white: #fff;
    --gray: #e0e0e0;
    --yellow: #020202;

    /* --header-bg: #266A29; */
    --header-bg: #393939;
    --header-text: #e0e0e0;
    --header-text-hover: #ffcc00;
    --submenu-bg: #fff;
    --submenu-bg-hover: #f1f1f1;
    --submenu-text: #4b4b4b;
    --submenu-text-hover: #000;
    --menu-submenu-separator: #e6e6e6;
    --bg-discount: #788795;
    --menu-link-anonymous-text: #de8ae5;
    --menu-link-anonymous-text-hover: #f9b2ff;
    --menu-inside-info-bg: #e1e1e1;
    --menu-inside-title: #333333;
    --menu-inside-price-text: #686868;
    --menu-inside-collection-text: #5b5b5b;
    --menu-inside-collection-bg: #e1e1e1;
    --menu-inside-button-playstation: linear-gradient(180deg, #dbdbdb 0%, #ededed 100%);
    --menu-inside-button-playstation-hover: brightness(1.05);
    --menu-inside-button: linear-gradient(to bottom, rgba(204, 204, 204, 0.2) 0%,
            rgba(204, 204, 204, 0.2) 4%,
            rgba(217, 217, 217, 0.2) 100%);
    --menu-inside-button-hover: linear-gradient(to top, rgba(204, 204, 204, 0.55) 0%,
            rgba(204, 204, 204, 0.55) 4%,
            rgba(217, 217, 217, 0.55) 100%);
    --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    --signin-button-bg: #f2f2f2;
    --signin-button-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    --signup-text: #4c4c4c;
    --signup-bg: #e6e6e6;
    --signup-bg-hover: #f3f3f3;
    --signin-bg: linear-gradient(to bottom, #985fb2 0%, #713b8d 100%);
    --signin-bg-hover: #713b8d;
    --signin-text: #fff;
    --signin-about-text: #4c4c4c;
    --signin-features-text: #4c4c4c;
    --menu-signin-features-title-dash: #e5e5e5;
    --button-lang: #19c430;
    --footer-title-text: #9F9F9F;
    --footer-link-hover: #9f9f9f;
    --footer-legal-link-hover: #9f9f9f;
    --product-button-bg: #19c430;
}

body{
    background-color: #9F9F9F;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px
    }
  }
  
  @media (min-width: 1440px) {
    .container {
      max-width: 1280px
    }
  }

.ngl-hide{
  display: none;
}


/* header */
.section-header{
    color: #000;
    
}




.product-layout {
    position: relative;
    width: 100%;
    height: 85%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    top: 56px;
    overflow: hidden;
    text-align: center;
}


.product-layout label {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    display: inline-block;
    width: 50px;
    height: 10px;
    margin: 10px;
    border-radius: 50px;
    background: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.product-layout label:hover {
    background: var(--product-button-bg)
}

.product-list {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    margin: 0px;
    background-size: cover;
    transition: left 0s .75s;
}

[id^="product"]:checked+.product-list {
    left: 0;
    z-index: 8;
    transition: left .65s ease-out;
}


.product-layout .product-button1 {
    left: 0;
}

.product-layout .product-button2 {
    left: 100;
}

.product-layout .product-button3 {
    left: 200;
}

.product-layout label:has(+input[type="radio"]:checked) {
    background-color: var(--product-button-bg);
}

/* .product-img {
    width: 100%;
} */