* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --brown: #8d6e63;
  --white-cream: #f5f5dc;
  --white: #fff;
  --gray: #e0e0e0;
  --yellow: #020202;

  /* --header-bg: #266A29; */
  --header-bg: #393939;
  --header-text: #e0e0e0;
  --header-text-hover: #ffcc00;
  --submenu-bg: #fff;
  --submenu-bg-hover: #f1f1f1;
  --submenu-text: #4b4b4b;
  --submenu-text-hover: #000;
  --menu-submenu-separator: #e6e6e6;
  --bg-discount: #788795;
  --menu-link-anonymous-text: #de8ae5;
  --menu-link-anonymous-text-hover: #f9b2ff;
  --menu-inside-info-bg: #e1e1e1;
  --menu-inside-title: #333333;
  --menu-inside-price-text: #686868;
  --menu-inside-collection-text: #5b5b5b;
  --menu-inside-collection-bg: #e1e1e1;
  --menu-inside-button-playstation: linear-gradient(180deg, #dbdbdb 0%, #ededed 100%);
  --menu-inside-button-playstation-hover: brightness(1.05);
  --menu-inside-button: linear-gradient(to bottom, rgba(204, 204, 204, 0.2) 0%,
      rgba(204, 204, 204, 0.2) 4%,
      rgba(217, 217, 217, 0.2) 100%);
  --menu-inside-button-hover: linear-gradient(to top, rgba(204, 204, 204, 0.55) 0%,
      rgba(204, 204, 204, 0.55) 4%,
      rgba(217, 217, 217, 0.55) 100%);
  --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  --signin-button-bg: #f2f2f2;
  --signin-button-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  --signup-text: #4c4c4c;
  --signup-bg: #e6e6e6;
  --signup-bg-hover: #f3f3f3;
  --signin-bg: linear-gradient(to bottom, #985fb2 0%, #713b8d 100%);
  --signin-bg-hover: #713b8d;
  --signin-text: #fff;
  --signin-about-text: #4c4c4c;
  --signin-features-text: #4c4c4c;
  --menu-signin-features-title-dash: #e5e5e5;
  --button-lang: #19c430;
  --footer-title-text: #9F9F9F;
  --footer-link-hover: #9f9f9f;
  --footer-legal-link-hover: #9f9f9f;
}

body {
  background-color: var(--gray);
  font-family: Lato, sans-serif;
  color: #000;
}

tbody {
  border: none;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

button {
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #fff;
  cursor: pointer;
}


.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px
  }
}

.ngl-hide {
  display: none;
}

header,
footer {
  background-color: var(--header-bg);
}

header {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.menu {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1060px;
  margin: 0 auto;
  height: 56px;
}

@media (min-width: 1440px) {
  .menu {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .menu {
    max-width: 1440px;
  }
}

/* ********** Style logo ********** */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 60%;
  margin-right: 20px;
}

.logo-icon {
  width: 60px;
}

/* ********** Style logo ********** */



/* ********** style menu main ********** */
.menu-main {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
}

.menu-main-item {
  position: relative;
  height: 100%;
  font-weight: 600;
}

/* transform Effect */
@keyframes transformEffect {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.menu-triangle {
  position: absolute;
  display: none;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
  top: auto;
  bottom: 0;
  left: auto;
  right: 7px;
  z-index: 3;
}

.menu-main-item:hover .menu-triangle {
  display: block;
  animation: 0.3s transformEffect forwards;
}

.menu-main-item .menu-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
  color: var(--header-text);
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.menu-main-item:last-child {
  display: flex;
  align-items: center;
}

.menu-main-item .menu-link:hover {
  color: var(--header-text-hover);
}

.menu-main-item .menu-link-anonymous {
  color: var(--menu-link-anonymous-text);
  transition: color 0.3s;
}

.menu-main-item .menu-link-anonymous:hover {
  color: var(--menu-link-anonymous-text-hover);
}

.chevron-down {
  margin-left: 5px;
}

/* ********** style menu main ********** */



/* ********** style sub menu main ********** */
.menu-submenu {
  position: absolute;
  display: none;
  width: 230px;
  padding: 9px 0;
  background-color: var(--submenu-bg);
  border-spacing: 0 10px;
  transition: all 0.9s;
  z-index: 10;
}

.menu-main-item:nth-child(2) .menu-submenu {
  padding-top: 0;
}

.playstation {
  padding-top: 9px;
}

.menu-main-item:hover .menu-submenu {
  display: block;
  animation: transformEffect .3s forwards;
}

.menu-submenu::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  box-shadow: var(--box-shadow);
}

.menu-submenu-item .menu-submenu-link {
  color: var(--submenu-text);
}

.menu-submenu-separator {
  margin-top: 8px;
  margin-bottom: 7px;
  border-top: 0px;
  border-color: var(--menu-submenu-separator);
}

.menu-submenu-link {
  position: relative;
  display: block;
  max-width: 90%;
  margin: 0 auto;
  padding: 5px 8px;
  font-size: 14px;
}

.playstation .menu-submenu-link,
.playstation .menu-submenu-link path {
  color: red;
  fill: red;
  text-transform: uppercase;
}

.playstation:hover .menu-submenu-link path {
  fill: red;
}

.menu-submenu-link:hover {
  background-color: var(--submenu-bg-hover);
  color: var(--submenu-text-hover);
}

.submenu-icon {
  position: absolute;
  right: 10;
  top: 10;
}

.submenu-icon path {
  fill: #9c8181;
}

.submenu-icon:first-child {
  display: none;
  right: 14;
}

.menu-submenu-link:hover .submenu-icon:first-child,
.menu-submenu-link:hover .submenu-icon path {
  display: block;
  fill: #686868;
}

/* ********** style sub menu main ********** */



/* ********** style menu inside ********** */
.menu-inside-layout {
  display: none;
}

.menu-submenu-item:not(:first-child):not(:nth-last-child(4)):hover~.menu-inside-layout,
.menu-inside-layout:hover {
  display: block;
}

.menu-inside {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 716px;
  height: 100%;
  min-height: 469px;
  background-color: #B1E5E5;
  padding: 0 48px;
}

.menu-inside::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: var(--box-shadow);
}

.menu-inside-title,
.menu-inside-button {
  color: #000;
}

.menu-inside-title {
  margin-bottom: 17px;
  color: var(--menu-inside-title);
  font-weight: 400;
  text-transform: uppercase;
  cursor: default;
}

.menu-inside-button {
  display: flex;
  justify-content: center;
}

.menu-inside-product {
  width: 100%;
  border-spacing: 16px 16px;
  margin: -16px -16px;
}

.menu-inside-item {
  position: relative;
}

.menu-inside-list:last-child .menu-inside-item {
  padding-bottom: 0;
}

.menu-inside-item:last-child {
  padding-right: 0;
}

.menu-inside-link {
  display: inline-block;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.menu-inside-img {
  width: 100%;
}

.menu-inside-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  background-color: var(--menu-inside-info-bg);
}

/* image */
.menu-inside-img {
  width: 196px;
  height: 110px;
}

/* discount */
.menu-inside-discount-text {
  position: absolute;
  bottom: 7px;
  right: 66px;
}

.menu-inside-discount-percent {
  display: inline-block;
  height: 23px;
  padding: 0 5px;
  border-radius: 2px;
  background-color: var(--bg-discount);
  color: #fff;
  font-size: 12px;
  line-height: 21px;
}

.menu-inside-discount-percent::before {
  content: "\2010";
  margin-right: -0.15em;
}

/* os support */
.icon-os-list {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.menu-inside-os-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 2px;
  background-image: url(icon/icon-os.png);
  opacity: 0.5;
}

.windows-icon {
  background-position: 0 0;
}

.mac-icon {
  margin-right: 3px;
  background-position: 13px -0.7px;
  opacity: 0.4;
}

.linux-icon {
  margin-right: 3px;
  background-position: 0px 15px;
}

/* price */
.menu-inside-price-text {
  position: absolute;
  top: 116px;
  left: 133px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 57px;
  height: 23px;
  padding: 0 6px;
  border: 1px solid var(--menu-inside-price-text);
  border-radius: 3px;
  color: var(--menu-inside-price-text);
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.3s;
}

.menu-inside-price-text ._price::before {
  content: "$";
}

.menu-inside-item:hover .menu-inside-price-text {
  color: #fff;
  background: linear-gradient(to bottom, #9fbf00, #80ab00);
}


.menu-inside-item:hover ._owner {
  display: none;
}

.menu-inside-item:hover ._owner:not(.ngl-hide)~._price {
  display: block;
}

/* button read more */
.menu-inside-button {
  width: 100%;
  height: 40px;
  margin-top: 17px;
  color: #4c4c4c;
  background: var(--menu-inside-button);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25),
    0 1px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 40px;
  transition: all 0.3s;
}

.menu-inside-button:hover {
  background: var(--menu-inside-button-hover);
}

/* playstation Namco Entertainment */
.menu-inside-layout-playstation {
  position: relative;
  display: none;
}

.menu-inside-playstation {
  position: absolute;
  top: -459px;
  left: 100%;

  width: 716px;
  height: 100%;
  min-height: 469px;
  background-color: #bfbfbf;
}

.menu-submenu-item:first-child:hover~.menu-inside-layout-playstation,
.menu-inside-layout-playstation:hover {
  display: block;
}

.menu-inside-playstation-background {
  position: absolute;
  top: 0;
  height: 100%;
  object-position: top left;
  width: 716px;
  z-index: 0;
}

.menu-inside-playstation-section {
  height: 100%;
  padding: 20px 48px 0;
}

.menu-inside-title-playstation {
  position: relative;
  height: 76px;
  margin-top: 30px;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  cursor: default;
}

.menu-inside-product-title {
  text-align: start;
  margin-left: 16px;
  color: #fff;
  cursor: default;
}

.menu-inside-product-playstation {
  position: relative;
  margin-top: 15px;
}

.menu-inside-playstation-link {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
}

.playstation-link {
  color: #e0e0e0;
}

.playstation-link b {
  color: #fff;
}

.playstation-link:hover {
  text-decoration: underline;
}

.menu-inside-button-playstation {
  padding: 9px 16px;
  color: #4c4c4c;
  background: var(--menu-inside-button-playstation);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25),
    0 1px 3px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 17px;
  transition: all 0.3s;
}

.menu-inside-button-playstation:hover {
  filter: var(--menu-inside-button-playstation-hover);
}


/* Browse all games */
.menu-inside-layout-other {
  display: none;
}

.menu-submenu-item:nth-last-child(4):hover~.menu-inside-layout-other,
.menu-inside-layout-other:hover {
  display: block;
}

.menu-inside-other {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 716px;
  height: 100%;
  min-height: 459px;
  background-color: #bfbfbf;
  padding: 0 48px;
}

.menu-inside-other::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: var(--box-shadow);
}

.menu-inside-collection-img {
  transition: all 0.3s;
}

.menu-inside-collection-img:hover {
  opacity: .9;
}

.menu-inside-collection-name {
  height: 36px;
  padding: 0 8px;
  color: var(--menu-inside-collection-text);
  background-color: var(--menu-inside-collection-bg);
  font-size: 14px;
  line-height: 36px;
}

/* ********** style menu-inside ********** */



/* ********** style menu-sign in ********** */
.menu-signin {
  position: absolute;
  left: -170px;
  top: 55px;
  display: none;
  width: 500px;
  background-color: #fff;
  z-index: 10;
}

._sign-in:hover .menu-signin {
  display: block;
}

.menu-signin-link {
  display: inline-block;
  width: 48%;
  height: 36px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
}

.signin-button {
  padding: 14px 15px 18px;
  margin-bottom: 10px;
  background-color: var(--signin-button-bg);
}

.signin-button a {
  box-shadow: var(--signin-button-box-shadow);
  transition: color 0.3s;
}

.signup {
  margin-right: 3%;
  color: var(--signup-text);
  background-color: var(--signup-bg);
}

.signin {
  color: var(--signin-text);
  background: var(--signin-bg);
}

.signup:hover {
  background-color: var(--signup-bg-hover);
}

.signin:hover {
  background: var(--signin-bg-hover);
}

.menu-signin-img {
  width: 100%;
  height: 144px;
}

.menu-signin-about {
  padding: 0 30px;
  color: var(--signin-about-text);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  cursor: default;
}

.menu-signin-features-title {
  position: relative;
  margin-top: 14px;
  color: var(--signin-features-text);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  cursor: default;
}

.menu-signin-features-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 37%;
  height: 1px;
  background-color: var(--menu-signin-features-title-dash);
}

.menu-signin-features-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 37%;
  height: 1px;
  background-color: var(--menu-signin-features-title-dash);
}

/* features */
@keyframes ChangeScene {

  0%,
  33.33% {
    opacity: 1;
  }

  33.34%,
  100% {
    opacity: 0;
  }
}

.menu-signin-features-list {
  position: relative;
  height: 115px;
  padding: 0 65px 20px;
  cursor: default;
}

.menu-signin-features-item {
  position: absolute;
  display: flex;
  align-items: center;
  width: 370px;
  height: 90px;
  opacity: 0;
  color: #000;
  font-size: 13px;
  transition: opacity 1s;
}

.menu-signin-features-item:first-child {
  opacity: 1;
}

._sign-in:hover .menu-signin-features-item:first-child {
  animation: ChangeScene 15s linear infinite 0s;
}

._sign-in:hover .menu-signin-features-item:nth-child(2) {
  animation: ChangeScene 15s linear infinite 5s;
}

._sign-in:hover .menu-signin-features-item:nth-child(3) {
  animation: ChangeScene 15s linear infinite 10s;
}

.menu-signin-features-text {
  padding: 14px 0;
  line-height: 21px;
}

.menu-signin-features-item:first-child .menu-signin-features-highlight {
  color: #007db8;
}

.menu-signin-features-item:nth-child(2) .menu-signin-features-highlight {
  color: #a90000;
}

.menu-signin-features-item:last-child .menu-signin-features-highlight {
  color: #7d00c9;
}

.menu-signin-icon {
  width: 16px;
  vertical-align: middle;
}

@keyframes timer {

  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.menu-signin-timer {
  position: absolute;
  bottom: 1;
  left: 0;
  right: 0;
  height: 5px;
}

.menu-signin-timer span {
  width: calc(100% / 3);
  height: 5px;
  float: left;
  background: #E5D3E9;
}

.menu-signin-timer span::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 5px;
  background: #fff;
  z-index: 1;
}

.menu-signin-timer span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: #a86cb6;
}

._sign-in:hover .menu-signin-timer span::before {
  animation: timer 15s linear infinite forwards;
}

/* ********** style menu-sign in ********** */



/* ********** style menu tray ********** */
.menu-tray {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 40%;
}

.menu-tray-item {
  height: 100%;
}

.menu-tray-item a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu-tray-item a path,
.menu-tray-item button path {
  fill: var(--header-text);
}

.menu-tray-item button {
  position: absolute;
  right: 7;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-tray-item a:hover path,
.menu-tray-item:hover button path {
  fill: #fff;
}

.search {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* ********** style menu tray ********** */





/* ********** style banner ********** */

.banner-aside {
  margin-bottom: 50px;
  width: 100%;
  height: 90%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0;
}

.banner-choose {
  position: absolute;
  left: 0;
  z-index: 9;
  width: 100%;
  bottom: 0;
}

.banner-choose label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 10px;
  transition: all .3s ease;

  &:hover {
    background: deeppink;
  }
}

.banner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  background-size: cover;
  margin: 0px;
  transition: left 0s .75s;
}

[id^="banner"]:checked+.banner {
  left: 0;
  z-index: 8;
  transition: left .65s ease-out;
}

.banner-img {
  width: 100%;
}


/* ********** style banner ********** */





/* ********** style footer ********** */
footer {
  padding: 60px 0 36px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item:first-child {
  width: 50%;
}

.footer-item:last-child {
  width: 50%;
}

.footer-logo {
  display: block;
  width: 60px;
  margin-bottom: 20px;
}

.lang-button {
  display: inline-flex;
  margin-top: 7px;
  padding: 7px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
}

.lang-button-highlight {
  display: inline-flex;
  align-items: center;
  margin-left: 14px;
  color: var(--button-lang);
  font-size: 14px;
  transition: all 0.2s;
}

.lang-button-highlight svg {
  margin-left: 5px;
}

.lang-button:hover .lang-button-highlight {
  color: #fff;
}

.footer-info {
  width: 100%;
  height: 162px;
}

.footer-social-td {
  vertical-align: top;
}

.footer-social-td .footer-title {
  margin-top: 23px;

}

.footer-social {
  display: flex;
}

.footer-social-item {
  padding: 10px;
}

.footer-social-item:first-child {
  margin-left: -10px;
}

.footer-social-link path {
  transition: all 0.3s;
}

.footer-social-link:hover path {
  fill: #ff0000;
}

.footer-social-icon {
  width: 20px;
}

.footer-social-icon:nth-child(2) {
  width: 23px;
}

.footer-title {
  margin-bottom: 5px;
  color: var(--footer-title-text);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  cursor: default;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  transition: all 0.3s;
}

.footer-link:hover {
  color: var(--footer-link-hover);
}

.footer-section {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  width: 50%;
  color: #fff;
  cursor: default;
}

.footer-legal-list {
  display: flex;
  width: 50%;
}

.footer-legal-item {
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid #fff;
}

.footer-legal-link {
  transition: all 0.3s;
}

.footer-legal-link:hover {
  color: var(--footer-legal-link-hover);
}

.footer-legal-item:last-child {
  padding: 0;
  margin: 0;
  border: 0;
}

.footer-legal-text {
  line-height: 26px;
}

/* ********** style footer ********** */